.wrapper {
   font-family: 'Muli', sans-serif;
   display: flex;
}

.title {
   font-weight: 200;
   font-size: 42px;
   margin: 0 0 16px;
   color: #fff;
}

.content {
   flex: 1;
   margin: 0 40px 0 0;
}

.form {
   display: flex;
   margin: 0 0 20px;
}

.input {
   border: 1px solid #fff;
   border-radius: 3px;
   background: none;
   outline: none;
   font-size: 16px;
   color: #fff;
   padding: 10px 12px;
   margin: 0 10px 0 0;
   flex: 1;
}

.button {
   font-weight: 500;
   font-size: 18px;
   width: 180px;
   color: #50c3d8;
   outline: none;
   cursor: pointer;
   background: #fff;
   border: 0;
   border-radius: 3px;
}

.link {
   display: inline-block;
   font-size: 16px;
   font-style: italic;
   font-weight: 200;
   color: #fff;
   border-bottom: 1px solid #fff;

   &,
   &:visited,
   &:focus,
   &:active {
      text-decoration: none;
   }
}

.image {
   width: 280px;
   border: 8px solid #fff;
   border-radius: 3px;
}
